bul.traineddata.gz
cat.traineddata.gz
ces.traineddata.gz
chi_sim.traineddata.gz
chi_tra.traineddata.gz
chr.traineddata.gz
dan-frak.traineddata.gz
dan.traineddata.gz
deu-frak.traineddata.gz
deu.traineddata.gz
ell.traineddata.gz
fin.traineddata.gz
fra.traineddata.gz
hun.traineddata.gz
ind.traineddata.gz
ita.traineddata.gz
jpn.traineddata.gz
kor.traineddata.gz
lav.traineddata.gz
lit.traineddata.gz
nld.traineddata.gz
nor.traineddata.gz
pol.traineddata.gz
por.traineddata.gz
ron.traineddata.gz
rus.traineddata.gz
slk.traineddata.gz
slv.traineddata.gz
spa.traineddata.gz
srp.traineddata.gz
swe-frak.traineddata.gz
swe.traineddata.gz
tesseract-3.01.tar.gz
tesseract-ocr-3.01.ara.tar.gz
tesseract-ocr-3.01.eng.tar.gz
tesseract-ocr-3.01.heb-com.tar.gz
tesseract-ocr-3.01.heb.tar.gz
tesseract-ocr-3.01.hin.tar.gz
tesseract-ocr-3.01.osd.tar.gz
tesseract-ocr-3.01.slk-frak.tar.gz
tesseract-ocr-3.01.tha.tar.gz
tgl.traineddata.gz
tur.traineddata.gz
ukr.traineddata.gz
vie.traineddata.gz
